@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --bg: #3c465c;
  --primary: #78ffcd;
  --solid: #fff;
  --btn-w: 8em;
  --dot-w: calc(var(--btn-w) * 0.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {
  box-sizing: border-box;
}

body::before {
  display: block;
  content: "";
  padding: 2.7rem 0;
}

body {
  /* background-image: linear-gradient(270deg, #fffffb 30%, #ace0f9 100%); */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Oswald" sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.heading-underline {
  width: 11rem;
  height: 0.2rem;
  background-color: #1ebba3;
  margin: 0 auto 1rem;
}

/*============ NAVABR ============*/

.nav-link h5:hover {
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.btn-quote {
  position: relative;
  margin: 0 auto;
  width: 8.5em;
  color: black;
  font-weight: bold;
  border: 0.15em solid black;
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
}
.dot {
  content: "";
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
  animation: atom 2s infinite linear;
  display: block;
}
.dot:after {
  content: "";
  position: absolute;
  left: calc(50% - 0.4em);
  top: -0.4em;
  height: 0.8em;
  width: 0.8em;
  background: var(--primary);
  border-radius: 1em;
  border: 0.25em solid var(--solid);
  box-shadow: 0 0 0.7em var(--solid), 0 0 2em var(--primary);
}
.btn-quote:hover .dot,
.btn-quote:focus .dot {
  animation: atom 2s infinite linear;
  display: block;
}
@keyframes atom {
  0% {
    transform: translateX(0) rotate(0);
  }
  30% {
    transform: translateX(var(--tr-X)) rotate(0);
  }
  50% {
    transform: translateX(var(--tr-X)) rotate(180deg);
  }
  80% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

/*============ REVIEW ============*/

.review-container {
  margin: 0 13rem;
  text-align: center;
}

.person-img {
  border-radius: 50%;
  margin: 0.5rem;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 4px solid hsl(210, 31%, 80%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.review-name {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.review-text {
  max-width: 35em;
  line-height: 2;
}

.carotext {
  position: absolute;
  bottom: 50px;
  left: 5%;
  font-size: 4rem;
  font-weight: 600;
}

.rotate {
  transform: rotateY(180deg);
  height: 30px;
}

/*============ FAQ ============*/
